<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.xlchen.dhu.stumanger.mapper.LogsMapper">
 
  <!-- 查询所有日志 -->
  <select id="findAllLogs" parameterType="java.util.Map" resultType="xin.xlchen.dhu.stumanger.model.MLogs">
   		 select * from t_logs ORDER BY logtime DESC
  </select>
  
  <!-- 保存日志 -->
  <insert id="saveLogs" parameterType="xin.xlchen.dhu.stumanger.model.MLogs">
   		 insert into t_logs(
   		 username, 
   		 logtype,
   		 logstatus,
   		 logip,
   		 logtime,
   		 notes) 
   		 values(
   		 #{username}, 
   		 #{logtype}, 
   		 #{logstatus}, 
   		 #{logip}, 
   		 now(),
   		 #{notes}
   		 )
  </insert>
</mapper>