<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.xlchen.dhu.stumanger.mapper.UserMapper">
 
  <!-- 查询所有用户 -->
  <select id="findAllUserInfo" parameterType="java.util.Map" resultType="xin.xlchen.dhu.stumanger.model.MUser">
   		 select * from t_user
   		  <where>
                <if test="username != null and username != ''">
                        AND  username = #{username}
                </if>
          </where>
  </select>
  
  <!-- 根据账号名查询用户 -->
  <select id="findUserInfoByUserName" parameterType="java.util.Map" resultType="xin.xlchen.dhu.stumanger.model.MUser">
   		 select * from t_user
   		 where username = #{username}
  </select>
  
  <!-- 更新最后一次登录信息 -->
  <update id="updateLastLoginInfo" parameterType="java.util.Map">
   		 update  t_user
   		 set lastloginip = #{lastloginip},lastlogin_time=now()
   		 where username = #{username}
  </update>
  
  <!-- 删除用户信息 -->
  <delete id="deleteUserInfo" parameterType="java.util.Map">
   		 delete from t_user
   		 where username = #{username}
  </delete>
  
  <!-- 添加用户信息 -->
  <insert id="addUser" parameterType="xin.xlchen.dhu.stumanger.model.MUser">
   		   		 insert into t_user
   		   		 (
		   		 username, 
		   		 realname,
		   		 user_type,
		   		 password,
		   		 create_time
	   		 	 ) 
		   		 values
		   		 (
		   		 #{username}, 
		   		 #{realname}, 
		   		 #{user_type}, 
		   		 #{password}, 
		   		 now()
		   		 )
   </insert>
  <!-- 编辑用户信息 -->
  <update id="editUser" parameterType="xin.xlchen.dhu.stumanger.model.MUser">
   		   		 update t_user
   		   		 set realname = #{realname},user_type=#{user_type}
   		   		 where username = #{username}
  </update>
  
  <!-- 编辑用户密码 -->
  <update id="updateUserPasswd" parameterType="xin.xlchen.dhu.stumanger.model.MUser">
   		   		 update t_user
   		   		 set password = #{password}
   		   		 where username = #{username}
  </update>
 
</mapper>